.defaultBtn{
    padding: 10px 30px;
    background-color: #27ae60;
    color: #fff;
    border: 3px solid #27ae60;
    font-weight: 700;
    transition: .5s;
}
.defaultBtn:hover{
    background-color: transparent;
    color: #27ae60;
}
.title{
    color: #27ae60;
    font-size: 60px;
}
.subTitle{
    color: #164e2e;
    font-size: 40px;
}
.homePageRow{
    height: 90vh;
}