.chart-head h1{
    font-size: 35px;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 0;
    margin: 20px 0;
}
.chart-head{
    position: relative;
}
.chart-head h1:after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #27ae60;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 50px;
}